# Build artifacts
**/target/
**/build/
**/dist/
**/*.jar
**/*.war

# IDE
**/.idea/
**/*.iml
**/.vscode/
**/.settings/

# Git
.git/
.gitignore

# Logs
**/*.log
**/logs/

# OS
**/.DS_Store
**/Thumbs.db

# Env
**/.env
**/*.env.local

# Node
**/node_modules/
**/.npm/
**/.angular/

# Documentation
*.md
LICENSE
