server:
  port: 8081

spring:
  application:
    name: stock-service

product-service:
  url: http://localhost:8080

resilience4j:
  circuitbreaker:
    instances:
      productService:
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 3
